<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Teller</title>
</head>
<body>
    <h1>Welcome to the Weather Teller</h1>
    <h2>I can tell you the weather if you submit your zipcode below</h2>
    <form action="">
        <input type="number">
        <input type="submit">
    </form>
</body>
</html>