<div>
    <h1>My Weather App</h1>
    <h3>This app takes in zipcode and return the Weather information of that area<br></h3>
</div>

<form action="/weather" method="GET">
    <input name="zip" type="number" pattern="[0-9]*" placeholder="enter zipcode">
    <input type="submit">
</form>