<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EJS Weather App</title>
  <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body id="main">
  <main id="main2">
    <h1>Find the weather near you!</h1>
    <p>Enter the zipcode of the location where you would like to see the current weather</p>
    <form id="form" action="/results" method="GET">
      <input type="text" name="zipcode">
      <input type="submit" value="Find the Weather">
    </form>
  </main>
</body>
</html> 