
<p>Enter your zip code below and hit submit to see the weather conditions for your area.</p>
<form action="/weather" method = "GET">
    <input type = "text" name = "input" placeholder = "zipcode">
    <input type = "submit" value = "Submit">
</form>
