<h2>Please type in your zip code below!</h2>

<form action="/weather" method="GET">
    <label for="fname">Zip code:</label>
    <input type="text" id="fname" name="input">
    <input type="submit" value="Submit">
</form>