<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>What's the Weather?</title>
</head>
<body>
  <h1>What's the Weather?</h1>
  <p>Type in a zipcode below to find out the local weather anywhere in the world!</p>
  <form action="/weather" method="get">
    <label for="zipcode">Enter Zipcode Here: </label>
    <input name="zipcode" type="text" value="">
    <input type="submit" id="submit" value="Check the Weather">
  </form>
  
</body>
</html>

