<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>WEATHER</title>
</head>
<body>
    <div class="home-div">
        <h2 class="home-header">Seach the weather here!</h2>
        <p class="home-p">Type the zipcode</p>
        <form action="/weather" method="get">
          <input type="text" name="zipcode">
          <input class="home-input" type="submit" value="Seach">
        </form>
    </div>
</body>
</html>