<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EJS WEATHER</title>
  <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body id="main">
  <main id="main2">
    <h1>WELCOME TO THE WEATHER BY LUKE MYERS</h1>
    <p> Type your zipcode into the box and press the button to find the weather at that location</p>
    <form id="form" action="/weather" method="GET">
      <input type="text" name="zipcode">
      <input type="submit" value="Find the Weather">
    </form>
  </main>
</body>
</html> 
