<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Weather App</title>
</head>
<body>
    <main>
        <h1>My Basic Weather App</h1>
        <h3>Input a zipcode to find the current weather in said zipcode.</h3>
        <form action="/weather" method="GET">
            <input type="number" name="zipcode">
            <input type="submit" name="submission">
        </form>
    </main>
</body>
</html>