<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Weather Plug</title>
</head>
<body>
    <h1> Welcome to the Weather Plug</h1>
    <h2> Go ahead and enter your ZIPCODE and we'll hook you up with the most accurate weather forecast</h2>
    <br /><br />

    <form action:"/weather" method="GET">
        <label for="ZIPCODE">ZIPCODE:</label><br />
        <input type="text" id="ZIPCODE" name="ZIPCODE">
        <input type="submit" id="Submit">
    </form>
</body>
</html>