<h3>Enter in the zipcode where you want to check the weather!</h3>
<form action="/weather" method="GET">
    Your Zipcode:
    <input type="text" name="zipcode" id="userInput">
    <input type="submit" value="Submit" id="submitButton">
</form>