<h2>The Home of Weather</h2>
<form action="/" method="POST">
    <label for="zipcode">Zipcode</label>
    <input type="text" name="zipcode" placeholder="00000" />
    <button>Get Weather</button>
</form>