<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Louis Reilly-Willhight Weather Homepage</title>
</head>

<body>
  
  <h1>All about the weather</h1>
<form action="/weather" method="get">
  <label for="zipCode">Enter 5-digit zip code</label>
  <input type="number" name="zipCode" id="zipCode">
  <input type="submit" value="Get the weather">
</form>
  
</body>
</html>