<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Weather</title>
    <link rel="stylesheet" href="/style/style.css">
</head>

<body>
    <div id="container">
        <h1>Check the weather with you zip</h1>

        <form action="/weather" method="GET">
            <input id="zip" class="form-control" name="zip" type="text" required pattern="[0-9]*">
            <input type="submit" class="form-control" value="Go">
        </form>
    </div>

</html>