<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Espress Homework</title>
</head>
<body>
  <!-- input form -->
  <form action="/weather">
    <input name="zipCode" size="5" type="text">
  </form>
  <%= message %> 
</body>
</html>