<h1>Instructions</h1>
<p>Instructions for the user</p>
<form method="GET" action="/weather"> 
    <label for="zipcode">Zipcode:</label>
    <input type="text" placeholder="give me a zipcode" name="zipcode" id="zipcode">
    <input type="submit" value="Go">
</form>