<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='./style/style.css' type='text/css'>
    <script src='./weather.js'></script>
    <title>Document</title>
</head>
<body>
    <%- include('./header.ejs') %>
    <p>Enter a zip code below to get its weather!</p>
    <form action='./weather'>
        <label for='zipCodeInput'>zip code:</label>
        <input type='text' id='zipCodeInput' name='zip_code'>
        <input type='submit' id='submitButton' value='Submit'>
    </form>
    <button id='randomButton'>Get Random Weather</button>
</body>
</html>