<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather Man</title>
  </head>
  <body>
    <div class="container">
      <h1>Weather Man</h1>
      <h3>The greatest weather app ever made</h3>
      <p>Enter a zipcode to get the weather forecast!</p>
      <form action="/weather" method="POST">
        <input type="text" name="zip" />
        <button type="submit">Get Weather</button>
      </form>
    </div>
  </body>
</html>
