
<form action="/results" method="get">
    <div class="input-field">
        <input name="zip" placeholder="Enter your city or zip to see the weather!" class="search-weather" type="search">
            <button class="myBtn btn waves-effect waves-light" type="submit">Submit
                <i class="material-icons right"></i>
            </button>
    </div>
</form>

