
<form action="/results" method="get">
    <div class="input-field">
        <input name="zip" placeholder="Enter your city or zip to see the weather!" class="search-weather" type="search">
    </div>
</form>

