<h3>results:</h3>

<div class="resultsDiv">
    <h1><%= data.location.name %></h1>
    <h4>Current Temp: <%= data.current.temperature + data.location.degreetype%></h4>
    <h4>Sky is: <%= data.current.skytext %></h4>
    <h4>Current Humidity: <%= data.current.humidity %></h4>
</div>