<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Time!</title>
</head>
<body>
    <p>Hello, <%= location %>!</p>
    <h2><ion-icon name="sunny-outline"></ion-icon></h2>
    <p>Current Temp: <%= currentTemp %></p>
    <p>Feels Like: <%= feelsLike %></p>
    <p>Looks pretty good!</p>
    <p><a href="/">back</a></p>
</body>
</html>