<div>
    <ul>
        <li>
            <%= result.location.name %>
        </li>
        <li>
            <%= result.current.day %>
        </li>
        <li>
            <%= result.current.temperature %>°
        </li>
        <li>
            <%= result.current.skytext %>
        </li>
    </ul>
</div>