<h1>WEATHER APP</h1>

<form action="/results" method="get">
    <input type="text" name="zipcode" placeholder="Enter ZIP Code"></button>
    <div class="clearDiv"></div>
    <button type="submit">SUBMIT</button>
</form>