<div>
    <h1>Weather Result</h1>
    <ul>
        <li>
            City:
            <% %>
                <%= result.location.name %>
        </li>
        <li>
            Day:
            <% %>
                <%= result.current.day %>
        </li>
        <li>
            Temp:
            <% %>
                <%= result.current.temperature %>°
        </li>
        <li>
            Sky condition:
            <% %>
                <%= result.current.skytext %>
        </li>
    </ul>
</div>