<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <!-- <style>
    body {
      text-align: center;
      color: white;
      background: url("http://www.placekitten.com/500/500")
    }
    div {
      background-color: teal;
      position: relative;
      margin: 0 auto;
      max-width: 600px;
    } -->
  </style>
  <title>Weather Get</title>
</head>

<body>
  <div>
    <h1>Local weather getter</h1>
    <br><br>
    <h2> Locale: <%= JSON.stringify(currentWeather.location.name) %> </h2>
    <br>
    <h2>Current Temperature: <%= JSON.stringify(currentWeather.current.temperature) %>
      <%= JSON.stringify(currentWeather.location.degreetype) %> </h2>
    <br>
    <h2>The sky is <%= JSON.stringify(currentWeather.current.skytext) %> </h2>
  </div>

  <script>
    console.log('loaded /weather.ejs');
  </script>

</body>

</html>