<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
</head>
<body>

    <img id = "icon" src="https://www.iconsdb.com/icons/preview/white/partly-cloudy-day-xxl.png" alt="">
    <h2> <%= message %> </h2>
    <button id = "back"><a href ="/">Back</a></button>

    
</body>
</html>