
body {
    text-align: center;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #1743b3e0);
    background-size: 400% 400%;
    animation: gradient 12s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

li {
    list-style: none;
}