

body {
  background: url("http://www.placekitten.com/200/200");
}

div {
  text-align: center;
  color: white;  
  background-color: teal;
  position: relative;
  margin: 0 auto;
  max-width: 600px;
}
