<!DOCTYPE html>
<html>
    <head>
        <title>Wow Fake Weather Wow</title>
    </head>
    <body>
        <form action="/weather/<%= zipcode %>" method="POST">
            <button>Random Zipcode 🌤</button>
        </form>
    </body>
</html>
