body {
    background-image: url(https://cdn2.vectorstock.com/i/1000x1000/64/01/good-weather-background-blue-sky-with-clouds-vector-1156401.jpg);
}

li {
    text-decoration: none;
    display: block;
    font-size: 20px;
    /* margin-left: 1em; */
}

div {
    position: fixed;
    /* or absolute */
    top: 10%;
    left: 35%;
}

form {
    position: fixed;
    /* or absolute */
    top: 30%;
    left: 40%;
}